#login {
  font-size: 0.8rem;
  color: white;
  background: none;
  border: 0;
  margin: 1rem 2rem;
  float: right;
}

body {
  font-size: 10px;
  width: 100%;
  background: linear-gradient(270deg, #6fbbbe, #6f9dbe);

  margin: 0;
  padding: 0;
}

.title_main {
  width: 100%;
  height: 20rem;
}

.title_bar {
  color: white;
}

#logo {
  font-size: 0.8rem;
  color: white;
  background: none;
  border: 0;
  margin: 1rem;
  float: left;
}

#title_txt01 {
  width: 100%;
  margin: 7rem 0 0 0;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

#title_txt02 {
  width: 100%;
  margin: 0.2rem 0 0 0;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}
/* 아이디~회원가입하기 전체 section */
.login-Section {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1rem;
  /*text-align: center;*/
}
@media (min-width: 600px) {
  .login-Section {
    width: 50%;
    margin-left: 25%;
  }
}
@media (min-width: 800px) {
  .login-Section {
    width: 40%;
    margin-left: 30%;
  }
}
/* 아이디 비밀번호 div */
.log {
  border-left: 10%;
}

/* 아이디 비밀번호 input */
.Login {
  width: 96%;
  height: 50px;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: #bac8e082;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.085);

  border-radius: 5px;
  border: 0;
}
/* 자동로그인및 체크박스  -> 화면크기 바꿀시 자리가 변경됨 수정 필요*/
.auto {
  width: 100%;
  font-size: 14px;
  height: 40px;
  color: white;
}
/* 로그인하기 버튼 */
#login-button {
  width: 100%;
  height: 60px;
  background: linear-gradient(270deg, #52898b, #50738cc9);

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
  margin-bottom: 15px;

  border-radius: 5px;
  border: 0;
  color: white;
}
#login-button:hover {
  background: linear-gradient(270deg, #6fbbbe, #6f9dbe);
}
/* 아이디찾기 비밀번호 찾기 */
.login-find {
  height: 40px;
  text-align: center;
}
#f-id {
  width: 70%;
  color: black;
}

#f-pw {
  color: black;
  margin-left: 20px;
}

/* 어의 회원이 아니신가요? */
.sign-up {
  margin-right: 9px;
  color: #ffffff7b;
  font-style: italic;
  text-align: center;
}
/* 회원가입하기 */
#sign {
  margin-left: 7px;
  color: black;
}
/* 하단부 */
.login-fotter {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.075);

  margin-top: 10rem;
  padding: 1.5rem 0 0 0;
  text-align: center;
  position: relative;
}
