/*검색 페이지 CSS*/
body {
  font-size: 10px;
  width: 100%;
  background: linear-gradient(#6f9dbe, #6fbbbe);

  margin: 0;
  padding: 0;
}

.title_main {
  margin: 0;
  width: 100%;
  height: 20rem;
}

.title_bar {
  color: white;
}

#logo {
  font-size: 0.8rem;
  color: white;
  background: none;
  border: 0;
  margin: 1rem;
  float: left;
}

#login {
  font-size: 0.8rem;
  color: white;
  background: none;
  border: 0;
  margin: 1rem 1rem;
  float: right;
}

#title_txt01 {
  width: 100%;
  margin: 6rem 0 0 0;

  text-align: center;
  font-size: 1rem;
  color: white;
}

#title_txt02 {
  width: 100%;
  margin: 0 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

/*main contents*/
@media (min-width: 650px) {
  main {
    margin: 0 15%;
  }
}
@media (max-width: 650px) {
  main {
    margin: 0 3%;
  }
}
/*주제 목록 버튼*/
.ChoicebtnBlock {
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: center;
}
.ChoicebtnBlock button {
  font-weight: bold;
  margin: 1rem 0.5rem;
  width: 10rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: #ffffff;
  border: 0px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
}
.ChoicebtnBlock button:hover {
  background: rgba(255, 255, 255, 0);
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  color: white;
  scale: 102.5%;
  transition: all 0.4s; /*0.5초동안 애니메이션 효과*/
}

/*지도*/
.mapBlock {
  padding: 1rem 0;
}

/*검색 바*/
.searchBlock {
  margin: 2rem 0;
  border: 2px solid;
  border-color: white;
  border-radius: 30px;
  width: 100%;
  height: 3rem;

  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
}
.searchBlock ::placeholder {
  color: white;
}
.searchBlock:hover {
  scale: 102.5%;
  transition: all 0.4s; /*0.5초동안 애니메이션 효과*/
}
.searchBlock input {
  color: white;
}
#searchVal {
  margin: 0.25rem 0 0.25rem 1.5rem;
  width: 70%;
  height: 2.5rem;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  float: left;
}
#searchVal:focus {
  outline: none;
}

#btnSearch {
  margin: 0.85rem 1rem 1rem 0;
  width: 1.2rem;
  float: right;
}

/*지도 필터*/
.arrayBlcok {
  margin: 1rem 0;
  width: 100%;
}
#arrayhsp {
  /*필터 셀렉터*/
  height: 2rem;
  width: 8rem;
  margin: 0 auto;
  float: left;
  text-align: center;
  border: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
}
#b1 {
  /*현재위치 버튼*/
  height: 2rem;
  width: 8rem;
  text-align: center;
  float: right;
  border: 0;
  border-radius: 30px;

  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
}

/*검색 결과 리스트*/
.resBlock {
  margin: 0;
  padding: 0 0 2.5rem 0;
  height: fit-content;
}
/*해상도 1100px이상일 경우*/
@media (min-width: 1100px) {
  #reslist {
    margin: 4rem -5% 3rem 0;
    padding: 2rem 0;
  }

  .resBlock form ul li {
    width: 41.5%;
    height: 8rem;
    margin: 0 2% 2rem 1rem;
    padding: 1rem 1rem;
    background-color: white;
    list-style: none;
    border-radius: 15px;
    float: left;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
  }
}
/*해상도 1100px이하일 경우*/
@media all and (max-width: 1100px) and (min-width: 480px) {
  #reslist {
    margin: 4rem 0 3rem 0;
    padding: 2rem 0;
  }

  .resBlock form ul li {
    width: 92.5%;
    height: 6.5rem;
    margin: 0 0 2rem 0;
    padding: 1rem 1rem;
    background-color: white;
    list-style: none;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
  }
}
@media (max-width: 480px) {
  #reslist {
    margin: 4rem 0 3rem 0;
    padding: 2rem 0;
  }
  .resBlock form ul li {
    width: 92.5%;
    height: 6rem;
    margin: 0 0 1rem -3px;
    padding: 1rem 1rem;
    background-color: white;
    list-style: none;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
  }
}
/*병원 이미지*/
#img {
  float: left;
  background: linear-gradient(#6f9dbed6, #6fbbbed6);
  margin-right: 1rem;
}
/*해상도 1100px이상일 경우*/
@media (min-width: 1100px) {
  #img {
    width: 7.5rem;
    height: 7.5rem;
  }
}
/*해상도 1100px이하일 480이상일 경우*/
@media all and (max-width: 1100px) and (min-width: 480px) {
  #img {
    width: 6.5rem;
    height: 6.5rem;
  }
}
/*해상도 480px이하일 경우*/
@media (max-width: 480px) {
  #img {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 6%;
  }
}

.inform {
  height: 100%;
  width: 50%;
  float: left;
  display: grid;
  margin-right: -10%;
}
@media (min-width: 1100px) {
  .inform {
    grid-template-rows: 15% 13% 17% 12.5% 12.5% 12.5%;
  }
  #address {
    width: fit-content;
  }
}
@media all and (max-width: 1100px) and (min-width: 480px) {
  .inform {
    grid-template-rows: 15% 17% 15% 14% 14% 14%;
    width: 60%;
  }
  #address {
    width: fit-content;
  }
}
@media (max-width: 480px) {
  .inform {
    grid-template-rows: 17% 15% 12% 13% 13% 13%;
    position: absolute;
    height: 6rem;
    left: 34%;
  }
  #address {
    height: 1rem;
    width: 100%;
    overflow: hidden; /*범위 넘어가면 자름*/
    text-overflow: clip; /*텍스트 넘치면 자름*/
    white-space: nowrap; /*자동 줄바꿈 방지*/
  }
}
#name {
  width: fit-content;
  font-weight: bold;
  font-size: 12px;
  text-overflow: ellipsis;
}
#tel {
  width: fit-content;
}
#address {
  padding: 5px 0;
  text-overflow: ellipsis;
}
.time {
  width: fit-content;
  margin: 1rem 0;
}

#btnReserve {
  width: 5rem;
  height: 1.5rem;
  border-radius: 30px;
  border: 0;
  background: linear-gradient(90deg, #6f9dbed6, #6fbbbed6);
  color: white;
}
/*해상도 1100px이상일 경우*/
@media (min-width: 1100px) {
  #btnReserve {
    margin-top: 6.25rem;
    float: right;
  }
}
/*해상도 1200px이하일 1100이상일 경우*/
@media all and (max-width: 1200px) and (min-width: 1100px) {
  #btnReserve {
    margin-right: 0rem;
    position: absolute;
  }
}
/*해상도 1100px이하일 650이상일 경우*/
@media all and (max-width: 1100px) and (min-width: 650px) {
  #btnReserve {
    margin-top: 5rem;
    position: absolute;
    right: 20%;
  }
}
/*해상도 650px이하일 경우*/
@media all and (max-width: 650px) {
  #btnReserve {
    margin-top: 4.5rem;
    position: absolute;
    right: 6.5%;
  }
}

#btnReserve:hover {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.112);
  transition: all 0.4s; /*0.5초동안 애니메이션 효과*/
}

/*팝업 창을 위한 css 부분*/
.popup {
  width: 400px;
  height: 400px;
  background: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.112);
  border-radius: 15px;
  padding: 2rem;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  font-size: 1rem;
  transition: all 0.5s; /*0.5초동안 애니메이션 효과*/
  z-index: -5;

  background-image: url("./img/reservePG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 500px) {
  .popup {
    width: 75%;
  }
}
.popup:target {
  /*popup이 타겟이 될 때 보여지도록, 하이퍼링크로 간 영역*/
  opacity: 1;
  z-index: 5;
}
.popup:target + .dim {
  /*popup이 타겟이 왔고 형제인 div(dim)를 선택했을때*/
  opacity: 1;
  z-index: 2;
}
.dim {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  background: rgba(
    0,
    0,
    0,
    0.6
  ); /*팝업 뒤가 클릭되지 않도록 까맣게 배경을 칠함*/
  opacity: 0;
  z-index: -1; /*클릭되도록 위치를 옮김*/
}
.popup span {
  /*Title*/
  float: left;
  margin: 1rem 0 1rem 0;
  padding-left: 0.5rem;
  border-left: 2px solid rgba(255, 255, 255, 0.638);

  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

#popupform {
  width: 90%;
  height: 90%;
}

/*예약 정보 블럭*/
#reserveTable {
  width: 110%;
  background: rgba(255, 255, 255, 0.437);
}
#reserveTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}
#reserveTable tr:nth-child(odd) {
  background-color: rgba(245, 245, 245, 0.5);
}
#reserveTable tr td input {
  width: 97%;
  height: 1.5rem;
  padding-left: 0.5rem;
  background: rgba(255, 255, 255, 0);
  border: 0;
}
.popupTableKey {
  width: 25%;
  text-align: center;
  font-size: 85%;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.popupTableValue {
  float: right;
  text-align: left;
  width: 100%;
}
#reserveAd textarea {
  width: 97%;
  height: 2rem;
  padding: 0.5rem 0 0.5rem 0.5rem;

  resize: none;
  background: rgba(255, 255, 255, 0);
  border: 0;
}
#health {
  /*증상 입력 창*/
  width: 97%;
  height: 5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;

  text-align: left;

  resize: none;
  background: rgba(255, 255, 255, 0);
  border: 0;
  /*border-bottom: 1px solid;*/
}
#reserveDate {
  /* margin: 1rem -5px 1rem 0;*/
  border: 1px solid;
  text-align: center;
}
#reserveTime {
  height: 3rem;
}
#reserveTime textarea {
  width: 97%;
  height: 2.5rem;
  resize: none;
  padding: 0.5rem 0 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0);
  border: 0;
}
#btnSub {
  width: 6rem;
  height: 1.5rem;
  margin: 1rem 0.5rem;

  border-radius: 15px;
  border: 0;
  background-color: #6f9dbe;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);

  color: rgb(255, 255, 255);
  float: right;
}
#btnClose {
  /*닫기 버튼*/
  width: 6rem;
  height: 1.5rem;
  margin: 1rem -2rem 1rem 0rem;

  border-radius: 15px;
  border: 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.3);

  color: #3e586a;
  font-weight: 400;

  float: right;
  text-decoration: none;
}

/*footer*/
footer {
  width: 80%;
  padding: 1rem 10%;
  background-color: rgba(0, 0, 0, 0.075);
  margin-top: 10%;
  height: 18rem;
}

/*footer 내용*/
.footer_info div {
  padding-left: 0rem;
}
.footer_info div div {
  margin-bottom: 0.25rem;
}

.footer_title {
  padding-top: 10%;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
}

#footer-left {
  width: 25%;
  float: left;
}
#logomean {
  width: 80%;
}

#footer-center {
  margin-left: 5%;
  width: 35%;
  float: left;
}

#footer-right {
  width: 30%;
  height: 80%;
  float: right;
}
#footer-right div {
  display: table;
}
#footer-right div span {
  display: table-cell;
  vertical-align: middle;
}

#footer-right div img {
  width: 3.5rem;
  height: auto;
  margin-right: 1rem;
}
@media (max-width: 480px) {
  #footer-right div img {
    width: 2.5rem;
    height: auto;
  }
}

#footer-bottom {
  width: 100%;

  padding-top: 15rem;
  padding-bottom: 1rem;
  text-align: left;
}
