
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=usxa85bak8"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <link href="search.css" type="text/css" rel="stylesheet">

    <style>

    </style>
    <title> 방구석 힐러 - 검색 페이지</title>
</head>

<body>
    <!--사이트 명, 홈버튼, 로그인 페이지-->
    <header>
        <div class="title_main">
            <div id="title_bg">
                <div class="title_bar">
                    <form>
                        <!--onClick 추가-->
                        <span><input id="logo" name="logo" type="button" value="사이트 로고"
                                onClick="location.href='/'" /></span>
                        <span><input id="login" name="login" type="button" value="login" /></span>
                    </form>
                    <br><br>
                </div>
                <div id="title_txt01">재택치료를 위한</div>
                <div id="title_txt02">위치정보 검색+</div>
            </div>
        </div>
    </header>

    <br>

    <main>
        <section>
            <div class="ChoicebtnBlock">
                <!--버튼으로 변경-->
                <button type="button" id="hospital" onclick="location.href='search'">병원</button>
                <button type="button" id="pharmacy" onclick="location.href='search'">약국</button>
                <button type="button" id="station" onclick="location.href='search'">선별진료소</button>
                <button type="button" id="isolation" onclick="location.href='search'">격리시설</button>
            </div>
        </section>

        <!--<br><br>
        <hr>
        <br>-->

        <section>
            <!-- 네이버 지도 관련 자바 스크립트 파일 불러오기 -->

            <div class="searchBlock">
                <form>
                    <input id="searchVal" name="search" type="text" placeholder="이름을 입력해주세요 ">
                    <!--이미지 소스 삽입  + 앵커 삽입-->
                    <a href="#map"><input id="btnSearch" name="btnSearch" type="image" src="searchICON.png"
                            alt="검색"></a>
                </form>
            </div>

            <!--
            <br>
            <hr>
            -->
            <div class="mapBlock">
                <div id="map" style="width : 100%; height:600px;"></div>
                
            </div>

            <!--
            <br><hr><br>
            -->

            <div class="arrayBlcok">
                <select name="arrayhsp" id="arrayhsp">
                    <span>
                        <option value="distance">가까운 순</option>
                    </span>
                    <span>
                        <option value="related">관련도 순</option>
                    </span>
                </select>
                <form> 
                    <!-- 버튼 아이디 삽입 2022 11 07 김유진 수정 -->
                    <span><input id = "b1" name="location"  type="button" value="현재 위치 "></span>
                </form>
                <!--
                <br>
                <hr>
                -->
            </div>

            <div class="hsplistBlock">
                <form>
                    <ul id="hsplist">
                        <% for(var i=0; i<model.length; i++){ %>
                            <li>

                                <div id="hsp1">
                                    <!--<input type="image" name="병원사진" alt="병원이름 + 사진" src="">-->
                                    <span id="hspName">
                                        <%= model[i].병원명 %>
                                    </span>
                                    <span id="hspAdd">
                                        <%= model[i].주소 %>
                                    </span>
                                    <span id="hspTel">
                                        <%= model[i].전화번호 %>
                                    </span>
                                    <span id="hspTime1">
                                        <%= model[i].평일운영시간 %>
                                    </span>
                                    <span id="hspTime2">
                                        <%= model[i].토요일운영시간 %>
                                    </span>
                                    <span id="hspTime3">
                                        <%= model[i].일요일운영시간 %>
                                    </span>
                                    <input type="button" id="btnRes" value="예약 하기">
                                </div>
                            </li>
                            <% } %>
                                <!--<li>
                            <div id="hsp2">
                                <input type="image" name="병원사진" alt="병원이름 + 사진" src="">
                                <span id="hspName">병원 명2</span>
                                <span id="hspAdd">병원 주소2</span>
                                <span id="hspTel">033-0000-0000</span>
                                <span id="hspTime">운영시간 ~18:00 [일요일 휴무]</span>
                                <input type="button" id="btnRes" value="예약 하기">
                            </div>
                        </li>
                        <li>
                            <div id="hsp2">
                                <input type="image" name="병원사진" alt="병원이름 + 사진" src="">
                                <span id="hspName">병원 명2</span>
                                <span id="hspAdd">병원 주소2</span>
                                <span id="hspTel">033-0000-0000</span>
                                <span id="hspTime">운영시간 ~18:00 [일요일 휴무]</span>
                                <input type="button" id="btnRes" value="예약 하기">
                            </div>
                        </li>-->
                    </ul>
                    <span><input name="add" type="button" value="더보기"></span>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <!--사이트 정보-->
    </footer>
</body>
<script src="map.js"></script>
</html>