<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=usxa85bak8"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <link href="search.css" type="text/css" rel="stylesheet">
    <!--페이지 타이틀 아이콘 삽입-->
    <link rel="shortcut icon" type="image/x-icon" href="./img/logo.png">
    <title>어의 | 격리시설 검색</title>
</head>

<body>
    <!--사이트 명, 홈버튼, 로그인 페이지-->
    <header>
        <div class="title_main">
            <div id="title_bg">
                <div class="title_bar">
                    <form>
                        <!--onClick 추가-->
                        <span><input id="logo" name="logo" type="button" value="HOME"
                                onClick="location.href='/'" /></span>
                        <span><input id="login" name="login" type="button" value="My Page"
                                onClick="location.href='login'" /></span>
                    </form>
                    <br><br>
                </div>
                <div id="title_txt01">재택치료를 위한</div>
                <div id="title_txt02">위치정보 검색+</div>
            </div>
        </div>
    </header>

    <br>

    <main>
        <section>
            <div class="ChoicebtnBlock">
                <!--11-08 서영 : button id 변경-->
                <button type="button" id="hospital" onclick="location.href='searchhospital'">병원</button>
                <button type="button" id="pharmacy" onclick="location.href='searchpharmacy'">약국 / 편의점</button>
                <button type="button" id="pcrCenter" onclick="location.href='searchpcrCenter'">선별진료소</button>
                <button type="button" id="isolation" onclick="location.href='searchisolation'">격리시설</button>
            </div>
        </section>

        <section>
            <!-- 네이버 지도 관련 자바 스크립트 파일 불러오기 -->
            <script src="map.js"></script>

            <div class="mapBlock">
                <div id="map" style="width : 100%; height:300px;"></div>
            </div>

            <!--검색 바 위치 변경 : 지도 위 -> 지도 밑으로 -->
            <div class="searchBlock">

                <!--submit , form 변경-->
                <form action="" method="get">
                    <input id="searchVal" name="search" type="text" placeholder="이름을 입력해주세요 ">

                    <!--이미지 소스 삽입  + 앵커 삽입-->
                    <a href="#map"><input id="btnSearch" name="btnSearch" type="image" src="searchICON.png"
                            alt="검색"></a>

                </form>
            </div>


            <div class="arrayBlcok">
                <select name="arrayhsp" id="arrayhsp">
                    <span>
                        <option value="ganada">가나다순</option>
                    </span>
                    <span>
                        <option value="distance">가까운순</option>
                    </span>
                </select>
                <form>
                    <!-- 버튼 아이디 삽입 2022 11 07 김유진 수정 -->
                    <span><input id="b1" name="location" type="button" value="현재 위치 "></span>
                </form>
            </div>
            <div class="resBlock">
                <script>

                    function savewg(hpName, wido, gyeongdo) {
                        hp = hpName;
                        wid = wido;
                        gyd = gyeongdo;

                        var loc = new naver.maps.LatLng(wid, gyd); // 누른버튼의 위도 경도
                        map.setCenter(loc); // 얻은 좌표를 지도의 중심으로 설정합니다.
                        map.setZoom(17);

                        var contentString = [
                            '<div class="iw_inner">',
                            '   <h3>' + hp + '</h3>',
                            '</div>'
                        ].join('');

                        var infowindow = new naver.maps.InfoWindow({ // 정보창 띄위기
                            content: contentString
                        });


                        var marker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(wid, gyd),
                            map: map
                        });

                        infowindow.open(map, marker);

                        naver.maps.Event.addListener(marker, "click", function (e) {
                            if (infowindow.getMap()) {
                                infowindow.close();
                            } else {
                                infowindow.open(map, marker);
                            }
                        })

                    }


                </script>
                <form>
                    <ul id="reslist">

                        <li onclick='savewg("코로나 생활치료센터",37.8873,127.7414)'>
                            <div>
                                <img id="img" name="사진" alt="사진" src="./img/isolation.jpg">
                            </div>
                            <div class="inform">
                                <span id="name">코로나 생활치료센터

                                </span>
                                <span id="tel"> | 033-000-0000

                                </span>
                                <span id="address"> OO도 OO시 OOO로 OOO번지 OO-O

                                </span>

                                <span>
                                    "자세한 내용은 위의 연락처로 문의
                                    혹는 해당 사이트로 접속해 주시길 바랍니다."
                                </span>
                            </div>
                            <div class="dim">

                            </div>
                            <!--여기까지-->
                        </li>
                        <!--<span><input name="add" type="button" value="더보기"></span>-->
                </form>
            </div>
        </section>
    </main>
    <footer>
        <!--사이트 정보-->
        <div class="footer_info">
            <div id="footer-left">
                <div class="footer_title">Project</div>
                <div><img id="logomean" src="./img/logo+mean.png"></div>
                <div>2022-2 Capstone Design</div>
                <div>Project EOUI</div>
            </div>
            <div id="footer-center">
                <div class="footer_title">Program</div>
                <div>Tool | Visual Studio Code</div>
                <div>Front-end | HTML, CSS, JavaScript</div>
                <div>Back-end | Nodejs, SQLite3, jQuery, Express</div>
                <div>UI,UX | Photoshop, Illustrator, Figma</div>
                <div>API | Naver Map</div>
            </div>
            <div id="footer-right">
                <div class="footer_title">Team </div>
                <div>
                    <span><img src="./img/t_go.png"></span>
                    <span>고은영 Back-end</span>
                </div>
                <div>
                    <span><img src="./img/t_kim.png"></span>
                    <span>김유진 Back-end</span>
                </div>
                <div>
                    <span><img src="./img/t_nam.png"></span>
                    <span>남서영 Front-end</span>
                </div>
            </div>
        </div>
        <div id="footer-bottom">
            @2022-2 Capstone Design Made by Team Homehealer
        </div>
    </footer>
</body>

</html>
